body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  * {
      font-family: 'Poppins', sans-serif;
  }
  
  #code-container {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    display: flex;
    
  }
  
  #code {
    margin: 0;
    padding: 20px;
    white-space: pre-wrap;
    overflow-x: hidden;
      overflow-y: hidden;
    /*font-family: monospace;*/
    resize: none;
    border: none;
    width: calc(100% - 40px); /* Adjust the width to consider padding */
    /*min-height: 40px; /* Adjust the minimum height as needed */
    height: 70px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  #code:focus {
    border: none;
    outline: none;
  }
  
  #copy-icon {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    margin-top: 0px;
    background-color: white;
    color: red;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    
  }
  
  #copy-icon img {
    width: 20px; /* Adjust the size as needed */
  }
  .tooltip {
    position: fixed;
    background-color: rgb(0, 0, 0);
    border: 0px solid #000000;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
    opacity: 1;
    
    transition: opacity 0.3s ease-out;
  }
  