<!-- views/about.html -->

<div id="template">
  <h2>About Us</h2>
  <p>
    This is the about page content. You can provide information about your
    company, team, or project here.
  </p>
  <button>Learn more</button>
  <p>{title}</p>
  <p>A {adjective} example</p>
</div>

<script>
  // Retrieve template content
  var template = document.getElementById("template").innerHTML;

  // Sample data
  var data = {
    title: "Website",
    adjective: "simple",
  };

  // Replace placeholders with data
  var postTemp = template.replace(/{\s*([\w.]+)\s*}/g, function (match, p1) {
    return data[p1];
  });

  // Insert rendered template into the specific container (e.g., "app")
  var appContainer = document.getElementById("app");
  appContainer.innerHTML = postTemp;
</script>

<script src="../scripts/console.js" defer></script>
